@using Willians.LojaVirtual.Web.HtlmHelpers;
@model Willians.LojaVirtual.Web.Models.ProdutoViewModel

@foreach (var item in Model.Produtos) {
    <div>
        <h3>@item.Nome</h3>
        @item.Descricao
        <h3>@item.Preco.ToString("c")</h3>
    </div>
}

@Html.LinkDePaginas(Model.paginacao, x => Url.Action("ListaProdutos", new { pagina = x}))


