@model Willians.LojaVirtual.Dominio.Entidade.Produto

<div class="well">
    <h3><strong>@Model.Nome</strong></h3>
    <h3><span class="pull-right label label-danger">@Model.Preco.ToString("c")</span></h3>
    @Model.Descricao
</div>